
<div class="table">
    <a class="logo" routerLink="/">
        <div class="logo">
            <img src="assets/Logotipo_MDGDesign3.png" alt="image" />
            <h3>MDG Design</h3>
        </div>
    </a>
    <div class="botonera">
        <a routerLink="/">Acerca de nosotros</a>
        <a routerLink="/nosotros">Nuestros Servicios</a>
        <a routerLink="/nosotros">Paginas web</a>
        <a routerLink="/nosotros">Publicidad</a>
        <a routerLink="/contacto">Contacto</a>
    </div>
</div>