<div class="col">
   <img src="assets/fondo_acercade.png" alt="Title">
   <h1>¿Quiénes somos?</h1>
   <p>En MDG Design, somos un equipo apasionado y comprometido con el arte del diseño gráfico. Desde nuestra fundación hace 2 años, hemos trabajado incansablemente para ofrecer soluciones creativas y 
        efectivas que ayudan a nuestros clientes a destacar en el competitivo mundo de los negocios.</p>
   <p class="p2">Fundada en 2022, MDG Design ha crecido rápidamente, convirtiéndose en una referencia en el mundo del diseño gráfico. En estos 2 años, hemos tenido el privilegio de colaborar con una diversidad de clientes, desde pequeñas 
        empresas hasta grandes corporaciones, ayudándoles a construir y fortalecer su identidad visual.</p>
   <h2>Nuestro Equipo</h2>
   <div class="yellow-box"></div>
   <p class="persona1">Maya Gaona </p>
   <p class="persona_1">Diseñadora web</p>
   <div class="yellow-box2"></div>
   <p class="persona2">Manuel Espinosa </p>
   <p class="persona_2">Diseñador Gráfico</p>
   <div class="yellow-box3"></div>
   <p class="persona3">Erika Huerta </p>
   <p class="persona_3">Mercadologa </p>
   <div class="yellow-box4"></div>
   <p class="persona4">Luis Morales </p>
   <p class="persona_4">Publicista </p>
    
 </div>
 
