@font-face {
    font-family: Gothic_black;
    src: url(assets/GothicA1-Black.ttf) format('trueType');
  }
  @font-face {
    font-family: Gothic_Medium;
    src: url(assets/GothicA1-Medium.ttf) format('trueType');
  }
  @font-face {
    font-family: Albra_light;
    src: url(assets/FontsFree-Net-AlbraLight.ttf) format('trueType');
  }

  @font-face {
    font-family: Gothic_extralight;
    src: url(assets/GothicA1-ExtraLight.ttf) format('trueType');
  }
  @font-face {
    font-family: Gilda_regular;
    src: url(assets/GildaDisplay-Regular.ttf) format('trueType');
  }
  @font-face {
    font-family: Find_cartoon;
    src: url(assets/Find_Cartoon.ttf) format('trueType');
  }
  @font-face {
    font-family: Lemon_Days;
    src: url(assets/LemonDays.ttf) format('trueType');
  }