<div class="imagen">
    <img src="assets/fondo_negro_1.png" alt="image" />
    <h2 class="txt">LOGOTIPOS - PAGINAS WEB - TARJETAS DE PRESENTACION - BANNERS Y MUCHO MÁS</h2>
    <h1>¡No esperes más y haz tu idea realidad!</h1>
    <div class="box">
    <h3>Bienvenido a MDG Design - Tu Solución Integral en Diseño Gráfico</h3>
    <div class="caja">
        <p> En MDG Design, nos dedicamos a transformar tus ideas en visuales impactantes. Con una combinación de creatividad, innovación y atención al detalle, ofrecemos una amplia 
            gama de servicios de diseño gráfico que se adaptan a las necesidades únicas de cada cliente.</p>
    </div>
    </div>
    
</div>
